<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>


    <title>Admin</title>
</head>

<body>
    <h1>Deposito</h1>
    <div class="container">
        <div class="row main">
            <div class="main-login main-center align-center">

                <form method="POST">
                    <div class="form-group">
                        <label>Escolha a conta e o valor para tranferir</label>
                        <input type="number" class="form-control" aria-describedby="emailHelp" placeholder="Enter com money"
                            name="contaValor">

                        <!--conta 1-->                        
                        <select name="conta1" class="custom-select" id="inputGroupSelect01" required>
                        </select>
                        <br><br><br><br><br>
                        
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/js/bootstrap.js"></script>
</body>


<script>
    const URL_TO_FETCH = 'http://localhost:3000/api/';

    fetch(URL_TO_FETCH)
        .then(function (response) {
            response.json()
                .then(function (data) {
                    data.map((e, i) => {
                        let titulo = e.nome
                        let contas = e.contas
                        var id = e._id
                        let html = '<option value="' + id + '" selected>' + titulo + '-- valor em conta: ' + contas + '</option>';
                        $('#inputGroupSelect01').append(html)
                    })
                });
        })
        .catch(function (err) {
            console.error(err);
        });
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</html>